@use "variable";
@use "mixin";

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  background-image: url(../img/noise-bg.png);
  background-color: variable.$gray;
  padding-top: 60px;
  position: relative;
  z-index: 0;
}

.l-container {
  padding: 0 20px;
  overflow-x: hidden;
}

/*============================================================
component
============================================================*/
.c-text {
  font-family: variable.$zenkaku;
  color: variable.$black;
  font-weight: 500;
  line-height: 2;
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
}
.c-button {
  @include mixin.ButtonStyle();
  color: #fff;
  font-family: variable.$zenkaku;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    margin-left: 4px;
    content: "→";
    display: inline-block;
    font-weight: bold;
  }
}

/*============================================================
utility
============================================================*/
@for $i from 1 through 20 {
  .mt-#{$i * 8} {
    margin-top: #{$i * 8px};
  }
}
