/*============================================================
color
============================================================*/
$green: #3e9970;
$skyBlue: #4facb3;
$black: #333;
$gray: #ebeaea;

/*============================================================
font
============================================================*/
$zenkaku: "Zen Kaku Gothic New", sans-serif;
$hind: "Hind", sans-serif;
