@use "../setting" as set;
@use "../common/button" as button;
@use "../common/typeFace" as type;

.p-introduction {
  &__text {
    margin-top: 32px;
  }
}

.p-mission__title {
  font-family: set.$zenkaku;
  color: set.$black;
  font-weight: 500;
  font-size: 20px;
  margin-top: 32px;
  &-text {
    margin-top: 16px;
  }
}

.p-mission__item {
  margin-top: 32px;
  &-title {
    font-family: set.$zenkaku;
    font-size: 18px;
    font-weight: 500;
  }
  &-text {
    margin-top: 16px;
  }
}

.p-outline__table {
  margin-top: 40px;
}

.p-outline__list > td:nth-of-type(1) {
  display: inline-block;
  margin-right: 24px;
}
