@use "../setting" as set;
@use "../common/button" as button;
@use "../common/typeFace" as type;

.p-interview__archive-title {
  margin-bottom: 80px;
}

.p-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.p-card-list__item {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  &:hover {
    transform: scale(1.01);
  }
}

.p-card-list__thumbnail {
  height: 190px;
  img {
    height: 100%;
  }
}

.p-card-list__body {
  padding: 24px;
}

.p-card-list__employee {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  span {
    font-family: set.$zenkaku;
    font-weight: 500;
    color: set.$black;
    font-size: 12px;
    margin-bottom: 2px;
  }
  span:nth-child(3) {
    color: #999;
  }
}

.p-card-list__copy {
  font-family: set.$zenkaku;
  color: set.$black;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 16px;
}

.p-card-list__link {
  font-family: set.$zenkaku;
  color: set.$black;
  font-weight: 500;
  font-size: 12px;
}
