@use "../setting" as set;
@use "../common/button" as button;
@use "../common/typeFace" as type;

.active-body {
  overflow-y: hidden;
}

.p-main {
  &__image {
    @include set.media(lg) {
      flex-shrink: 0;
      width: 50%;
      margin-left: -80px;
    }
  }
  &__text-area {
    @include set.media(lg) {
      flex-shrink: 0;
      width: 50%;
      margin-top: 20%;
    }
  }
  &__title {
    font-size: clamp(4rem, 2.592rem + 6.01vw, 8rem);
    font-family: set.$hind;
    font-weight: 600;
    color: set.$black;
    line-height: 0.9;
    white-space: nowrap;

    &--sub {
      margin-top: 16px;
      font-size: clamp(1.25rem, 0.986rem + 1.13vw, 2rem);
      font-family: set.$zenkaku;
      font-weight: bold;
      color: set.$black;
    }
  }
  &__text {
    margin-top: 48px;
    position: relative;
    z-index: 0;
    @include set.media(lg) {
      width: 480px;
    }
  }
}

.p-about {
  &__title {
    font-size: clamp(1.5rem, 0.972rem + 2.25vw, 3rem);
    font-family: set.$zenkaku;
    color: set.$black;
    font-weight: bold;
  }
  &__details {
    @include set.media(lg) {
      display: flex;
      justify-content: space-between;
      margin-top: 2.5rem;
    }
  }
  &__text {
    @include set.media(lg) {
      width: 70%;
    }
  }
  &__button {
    font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
    margin-left: auto;
    margin-right: 0;
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }
}

.p-service {
  &__title {
    font-family: set.$hind;
    color: #333;
    font-weight: 600;
  }
  &__item {
    padding: 24px 0;
    border-top: 1px solid #999;
    &:not(:nth-of-type(1)) {
      border-bottom: 1px solid #999;
    }
  }
  &__item-wrap {
    @include set.media(lg) {
      padding: 40px 0;
      display: grid;
      align-items: center;
      grid-template-columns: 220px 1fr 80px;
      column-gap: 16px;
    }
  }
  &__item-title {
    font-family: set.$zenkaku;
    color: set.$black;
    font-weight: bold;
    font-size: clamp(1.125rem, 1.018rem + 0.54vw, 1.5rem);
    sup {
      color: set.$green;
      margin-right: 0.5rem;
    }
  }
  &__text {
    margin-top: 1rem;
    @include set.media(lg) {
      padding: 0 24px;
    }
  }
  &__link {
    margin-right: 0;
    margin-left: auto;
    margin-top: 1rem;
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }
}

.p-gallery {
  &__area {
    display: flex;
    justify-content: center;
  }
  &__item {
    position: relative;
    flex-shrink: 0;
  }
}
.p-gallery__item {
  &--square {
    width: 25%;
  }
  &--rectangle {
    width: 40%;
  }
  &:nth-of-type(2n) {
    margin-top: 10%;
  }
  &:nth-of-type(1) {
    margin-right: 20px;
  }
  &:nth-of-type(3) {
    z-index: 5;
    margin-left: -40px;
    margin-right: 20px;
  }
}

.p-interview__head {
  color: #fff;
  margin-bottom: 50px;
  font-family: set.$hind;
  @include set.media(xl) {
    text-align-last: left;
  }
}

.mySwiper {
  position: relative;
  z-index: 2;
}

.swiper-pagination {
  padding-bottom: 2rem;
  font-size: 0.875rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: clamp(1.125rem, 1.018rem + 0.54vw, 1.5rem);
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: -80px;
  color: #fff;
  opacity: 0.8;
}

.p-article {
  & .p-article__image {
    display: block;
    max-width: 400px;
    width: 60%;
    margin: 0 auto;
  }
  & .p-article__title {
    text-align: center;
    font-size: clamp(1rem, 0.824rem + 0.75vw, 1.5rem);
    font-weight: bold;
    margin-top: 1.5rem;
  }
  small {
    display: block;
    text-align: center;
    margin-top: 8px;
    font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
  }
  & .p-article__button {
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.5s;
    font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
    &:hover {
      opacity: 0.6;
    }
  }
}

.p-interview__bg {
  position: absolute;
  top: 45%;
  left: -10%;
  transform: translateY(-45%);
  z-index: 0;
  font-family: set.$hind;
  font-weight: 200;
  color: #fff;
  font-size: clamp(4rem, 3.208rem + 3.38vw, 6.25rem);
  opacity: 0.3;
  text-transform: uppercase;
  white-space: nowrap;
  .loop-1 {
    animation: loop 800s linear infinite;
  }
  .loop-2 {
    position: absolute;
    top: 0;
    left: 0;
    animation: loop 200s -100s linear infinite;
  }
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.p-head-container {
  display: flex;
  justify-content: space-between;
}

.p-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
  p {
    font-family: set.$zenkaku;
    font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
  }
}

.p-news__wrap {
  @include set.media(lg) {
    margin-top: 5rem;
  }
}

.p-news__list {
  @include set.media(lg) {
    width: 60%;
    margin-right: 0;
    margin-left: auto;
  }
}

.p-news__link {
  transition: 0.5s;
  &:hover {
    opacity: 0.6;
  }
}

.p-news__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  gap: 1rem;
  &:nth-of-type(1) {
    margin-top: 20px;
  }
  time {
    color: #777;
    font-size: clamp(0.75rem, 0.706rem + 0.19vw, 0.875rem);
  }
  a {
    display: block;
    font-size: clamp(0.875rem, 0.787rem + 0.38vw, 1.125rem);
    font-family: set.$zenkaku;
  }
}

.p-recruit__image {
  display: block;
  width: 100%;
  padding: -15px;
}

.p-recruit__text-area {
  background: linear-gradient(
    90deg,
    rgba(79, 172, 179, 1) 0%,
    rgba(62, 153, 112, 1) 100%
  );
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  margin-top: -10%;

  .p-recruit__head {
    text-align: center;
    color: #fff;
  }

  .p-recruit__text {
    width: 40ch;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 24px;
  }
}

.p-entry-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;

  color: #fff;
  margin-top: 32px;
  font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  + .p-entry-area {
    margin-top: 24px;
  }
  .p-entry__button {
    background: #fff;
    color: set.$green;
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }
}
